.titulo {
    font-size: x-large;
    margin-right: 32px;
}

.container {
    border: 2px solid rgb(0, 0, 0);
    width: 40%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5%;
}

.container_login {
    border-radius: 15px;
    padding: 30px;
    margin-top: 5%;
    align-content: center;
}

#imgUser {
    border-radius: 50%;
    border: 0px solid rgb(0, 0, 0);
    width: 150px;
}